@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
  margin: 0;
  font-family: 'Montserrat','Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  height:100%;
  -moz-osx-font-smoothing: grayscale;
  @apply flex flex-col items-center;
}

#root{
  @apply w-full;
}

.body-wrapper{
  min-height: calc(100vh - 10rem);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input{
  @apply p-4 outline-none border border-gray-300 my-1;
}

.popup{
  z-index:999;
}

.product-card {
  position: relative;
}

.product-card::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
  transition: background-color 0.3s ease;
}

.product-card:hover::after {
  background-color: rgba(0, 0, 0, 0.3); 
}

.quick-view-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  padding: 10px 20px;
  border: 2px solid white;
  border-radius: 5px;
  opacity: 0;
  transition: opacity 0.3s ease, background-color 0.3s ease, color 0.3s ease; 
  z-index: 2;
}

.product-card:hover .quick-view-button {
  opacity: 1;
}

.quick-view-button:hover, .quick-view-button:active {
  background-color: white;
  color: black;
}